th {
    cursor: pointer;
}

.table-dark {
    --bs-table-color: #afafaf !important;  
}

thead {
    --bs-table-color: #cdcdcd !important;
}

body {
    background-color: #212529 !important;
}